<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Face Your Seeker</title>
        <script src="{{ url_for('static', filename='js/libs/p5.min.js') }}"></script>

        <!--<img src="{{url_for('static', filename='background.png')}}" align="middle" />-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <!-- <div style="text-align: center">
            <canvas id="glCanvas", width=1420, height = 720></canvas>
        </div> -->
        <!-- <img src="{{ url_for('stream') }}"> -->
        <img src="img/host_image.jpg" id="dynamicImage" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{{url_for('static', filename='js/jquery-confirm.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    </body>
</html>
